.posts {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;
}
.posts li{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.posts li a {
    text-decoration: none;
    color: #333;
}
.posts li:hover{
    background-color: #f4f4f4;
}